.carousel-item {
    width: 100%;
    height:100%;
}
.jumbotron{
    background-color:rgb(82, 19, 19);
    text-align:center ;
}
.h1{
    text-align: center ;
    color:aquamarine;
}
.welcone{
    text-align:center; 
}